@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark Background */
    color: #ffffff; /* Light Text */
  }
}

@layer base {
  * {
    @apply border; /* Updated to a valid Tailwind class */
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .animate-flash {
    animation: flash 2s infinite;
  }
}

@keyframes flash {
  0%, 100% {
    @apply bg-yellow-200 dark:bg-yellow-800;
  }
  50% {
    @apply bg-transparent;
  }
}
